@import url("https://unpkg.com/normalize.css@8.0.1/normalize.css");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

/* .container {
  background-color: #ededed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-card {
  min-width: 360px;
  box-shadow: 0 1px 3px 0 #999999;
  background-color: #f9f9f9;
} */
